<p>
    <%= link_to curriculum_admin.name, curriculum_path(curriculum_admin) %>
    <ul>
        <li><%= link_to "Modifica", edit_curriculum_path(curriculum_admin) %></li>
        <li><%= link_to "Elimina", curriculum_admin, :method => :delete %></li>
        <li><%= link_to "Gestisci insegnamenti", edit_teachings_curriculum_path(curriculum_admin) %></li>
    </ul>
</p>