<div>
  <div>
    <%= link_to curriculum_admin.name, curriculum_path(curriculum_admin) %>
  </div>
  <div>
    <%= link_to "Modifica", edit_curriculum_path(curriculum_admin) %>
  </div>
  <div>
    <%= link_to "Elimina", curriculum_admin, :method => :delete %>
  </div>
  <div>
    <%= link_to "Gestisci insegnamenti", select_teaching_curriculum_path(curriculum_admin) %>
  </div>
</div>