<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<!--
    Document   : web.xml
    Created on : 23 febbraio 2009, 16.24
    Author     : mattia
    Description:
        Run quartz scheduler and Algorithm servlet
-->
<web-app>
        <servlet>
            <servlet-name>QuartzInitializer</servlet-name>
            <display-name>Quartz Initializer</display-name>
            <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
        <init-param>
            <param-name>shutdown-on-unload</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>start-scheduler-on-load</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        </servlet>
        <servlet>
                <servlet-name>SchedulerServlet</servlet-name>
                <servlet-class>sigeol.SchedulerServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>SchedulerServlet</servlet-name>
                <url-pattern>/alg</url-pattern>
        </servlet-mapping>
</web-app>
