<br>
<div>
  <%= link_to classroom_admin.name, classroom_path(classroom_admin) %>
  <%= link_to "Modifica", edit_classroom_path(classroom_admin) %>
  <%= link_to "Elimina", classroom_admin, :method => :delete%>
</div>
