<%= menu_admin() %>
<h3>Amministrazione aule</h3>
<% if @classrooms.empty? %>
   <%=h "Nessuna aula presente" %>
<% else %>
  <table class="list_table">
    <tr>
      <th>Nome</th>
      <th colspan="3">Opzioni</th>
    </tr>
    <% @classrooms.each do |g| %>
      <%= show_classroom_admin(g) %>
    <% end %>
  </table>
<% end %>