<h1>Aula <%=h @classroom.name %></h1>
<p>
  <strong>Capacità:</strong>
  <%=h @classroom.capacity %>
</p>
<p>
  <strong>Situata nell'edificio:</strong>
  <%= link_to @building.name, building_path(@building) %>
</p>
<p><%= link_to "Indietro", :back %></p>