<p>
  <b>Nome:</b>
  <%=h @classroom.name %>
</p>
<p>
  <b>Capacità:</b>
  <%=h @classroom.capacity %>
</p>
<p>
  <b>Si trova nell'edificio:</b>
  <%= link_to @building.name, building_path(@building) %>
</p>
<br><br>
<%= link_to 'Back', :action => 'administration' %>
