<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content='text/html; charset=iso-8859-1' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Invito ad utilizzare il sistema SIGEOL</h1>
    <p>
      E' stato invitato ad iscriversi al software per la gestione dell'orario di lezione
<%if @teacher.graduate_courses.first != nil %> 
    a uso del CCS  di
<%=  @teacher.graduate_courses.first.name %>
<%  else %>
 .
<% end %> .<br />
      Per attivare il suo account segua il link sottostante:
    </p>
    <p>
      <%= link_to @url, @url %>
    </p>
    <p>
       Distinti saluti, <br />
       <% if @current_user.specified_type == 'DidacticOffice' %>
         <%= "Segreteria didattica" %>
       <%  else %>
         <%= @current_user.specified.name+" "+@current_user.specified.surname %>
        <% end %>
    </p>
  </body>
</html>