<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content='text/html; charset=iso-8859-1' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> SIGEOL:  Attivazione nuova password.</h1> <br /> <br />
    <p>
      alve alessandro.grosselle
      E' stata richiesta una nuova password per l'account del sistema SIGEOL. Se non hai effettuato questa richiesta ignorala e, se per caso dovesse ripresentarsi, contatta l'amministratore del forum.
      Per utilizzare la nuova password è necessario attivarla, semplicemente cliccando sul link seguente.
      http://quixoft.forumup.it/profile.php?mode=activate&u=5&act_key=b3020524088b74263
      Se l'operazione andrà a buon fine potrete connettervi al nostro forum utilizzando laseguente password:
      Password: 38566408
      ATTENZIONE assicuratevi di effettuare il login dopo aver cliccato il link, una volta effettuata il login potrete modificare la password nel profilo utente. Per qualsiasi dubbio contattate pure l'Amministratore.
      <br/>
  </body>
</html>
