<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content='text/html; charset=iso-8859-1' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> SIGEOL:  Schema d'orario in generazione.</h1> <br /> <br />
    <p>
      Con la presente la informiamo che lo schema d'orario per il corso di laurea di <%= @graduate_course.name %> del <%= @period %>° <%= @organization %> è in generazione
      Seguirà un ulteriore mail di notifica non appena l'algoritmo terminerà la generazione del suddetto schema d'orario.
      <br/>
  </body>
</html>
