<h1>Home</h1>
<br /><br />
Pagina principale di consultazione degli orari, questa pagina verrà usata come Home per il sito.
<br /><br />
Da fare una lista dei Corsi di Laurea, dei curriculum e poi degli anni.
