<h3>Pagina principale di consultazione degli orari</h3>
<br /><br />
Questa pagina verrà usata come Home per il sito.
<br /><br />
Da fare una lista dei Corsi di Laurea, dei curriculum e poi degli anni.
