html, body {
    margin: 0;
    padding:0;
    font-family:serif, sans-serif;
    background-color:#acc9e1;
    font-size:0.9em;
}
h1 {
    font-size:1.7em;
    margin-bottom:1.5em;
}

#title {
    font-size:2.2em;
    margin-bottom:0.2em;
    margin-top:0.4em;
}
#subtitle {
    color:white;
    margin-top:0;
    text-align:center;
}


h2 {
    color:#FF0000;
}

h3 {
    font-size:1.2em;
    margin-top:2.0em;
}

table {
    text-align:center;
}

#header {
    background-color:#1d2b52;
    display:block;
    height:79px;
    padding:1em;
}

#header #unipd-logo {
    display:block;
    float:left;
    background:url('images/unipd-logo.gif');
    height:79px;
    width:81px;
}

#header #centerer {
    display:block;
    float:right;
    height:79px;
    width:81px;
}

#header #title {
    text-align:center;
    vertical-align:bottom;
    color:white;
}

#navigation {
    clear:both;
    text-align:center;
    font-variant:small-caps;
    background-color:#1d2b52;
    padding-bottom:0.5em;
    padding-top:0.5em;
    margin-top:-1em;
}

/* Different link-state colors: active, hover and visited */
#navigation a {
    color:#FFF;
}

#navigation a:visited {
    color:#c1a9dd;
}

#navigation a:hover {
    color:#72cbe7;
}

a:hover {
    color:#72cbe7;
}

#navigation li {
    display:inline;
    list-style:none;
    margin-left:5%;
    margin-right:5%;
}

#path {
    height:40px;
    background-image:url('images/fade.gif');
    background-position:left;
    background-repeat:repeat-x;
}

#container {
    background-color:#acc9e1;
    padding-top:0.5em;
}

#leftPanel {
    float:left;
    width:19%;
    margin-left:1%;
    min-width:1em;
}

#leftPanel img {
    height:1.2em;
    width:1.2em;
}

#leftPanel li {
    list-style-type:circle;
}

#leftPanel #logout {
    display:block;
    margin-bottom:1em;
}

#leftPanel .categoria {
    font-variant:small-caps;
    color:#000;
    font-size:1em;
}

#content {
    margin-left:21%;
    margin-right:1%;
}
#error {
    color:red;
}

#notice {
    color:#080;
}

.list_title {
    font-variant:small-caps;
    font-size:1.1em;
}

.li_indentation {
    margin-left:2em;
}

#trademark {
    border-style:solid;
    border-width:1px;
    border-color:black;
    padding:1em;
}

#trademark td {
    vertical-align:top;
}

#unipd-logo-white {
    display:block;
    float:left;
    background:url('images/unipd-logo-white.jpg') top left no-repeat;
    width:60px;
    height:58px;
}

#trademark_info {
   text-align:left;
   padding-left:2em;
   padding-right:3em;
}

#trademark h4 {
    text-align:center;
    margin-top:0;
}

#trademark_info p {
    margin:0;
}

.list_table th {
    background-color:#acc9e1;
    border:1px solid;
}

.list_table td {
    padding:0 1em;
    border:1px solid;
}

.list_table_first_item {
    text-align:left;
    width:15em;
}

.plus_less {
    margin-left:1em;
}

/*
#preFooter {
    clear:both;
    height:40px;
    background-image:url('images/fade180.gif');
    background-position:left;
    background-repeat:repeat-x;
}*/

#footer {
    padding:0.5em;
    background-color:#acc9e1;
    text-align:center;
    clear:both;
}

a img {
    border:none;
}

/* Box drawing */
.box {
    background-color:white;
}

.boxHeader {
    background:url('images/top.gif') top left no-repeat;
    height:15px;
}

.boxHeader span {
    display:block;
    float:right;
    background:url('images/top-right.gif') top right no-repeat;
    height:15px;
    width:25px;
}

.boxContent {
    margin:0 15px 0 15px;
}

.boxFooter {
    background:url('images/bottom.gif') bottom left no-repeat;
    height:45px;
}

.boxFooter span {
    display:block;
    float:right;
    background:url('images/bottom-right.gif') bottom right no-repeat;
    height:45px;
    width:25px;
}

.warning{
    font-size:0.7em;
    color:red
    }

.formLabel {
    display:block;
    float:left;
}

.formTxt {
    margin-left:2em;
}