<ul>
  <li><%= link_to "Home" , :controller => "timetables" %></li>
  <li><%= link_to "Docenti", :controller => "teachers" %></li>
  <li><%= link_to "Strutture" , :controller => "buildings"%></li>
  <li><%= link_to "Insegnamenti" , :controller => "teachings"%></li>
</ul>