<div>
  <%= link_to building_admin.name, building_path(building_admin) %>
  <%= link_to "Modifica", edit_building_path(building_admin) %>
  <%= link_to "Elimina", building_admin, :method => :delete%>
</div>
