<%= menu_admin() %>
<h3>Edifici / Buildings</h3>
<% if @buildings.empty? %>
   <%=h "Nessun edificio presente" %>
<% else %>
  <% @buildings.each do |b| %>
   <div class="first_div">
      <%= show_building_admin(b) %>
   </div>
  <% end %>
<% end %>