<%= menu_admin() %>
<h3>Amministrazione edifici</h3>
<% if @buildings.empty? %>
   <%=h "Nessun edificio presente" %>
<% else %>
  <table class="list_table">
      <tr>
        <th>Nome</th>
        <th colspan="2">Opzioni</th>
      </tr>
      <% @buildings.each do |b| %>
        <%= show_building_admin(b) %>
      <% end %>
  </table>
<% end %>