<h1>Schermata di gestione dei Buildings</h1>
<div>
<% @buildings.each do |b| %>
  <h2><%= b.name %></h2> <br/>
  <%  b.classrooms.each do |c| %>
    <%= c.name %><br/>
    <% end %>
<% end %>
</div>
<br> <br>
<%= link_to 'Inserisci un nuovo buildings e il relativo indirizzo', new_building_path %>
