<h3>
  <%= link_to graduate_course_admin.name, graduate_course_path(graduate_course_admin) %>
</h3>
<% if graduate_course_admin.users.empty? %>
  <%=h "Nessun docente presente" %>
<% else %>
  <table>
    <% graduate_course_admin.users.each do |u| %>
      <%= show_teacher_admin(u.specified) %>
    <% end %>
  </table>
<% end %>