<table>
  <tr>
    <td><%= link_to "Modifica corsi di laurea", edit_graduate_courses_teacher_url(params[:id])%> </td>
    <td><%= link_to "Modifica privilegi", edit_capabilities_teacher_url(params[:id])%> </td>
  </tr>
</table>