<div>
  <div>
    <%= link_to teacher_admin.complete_name, teacher_path(teacher_admin) %>
  </div>
  <div>
    <%= link_to "Elimina definitivamente!", teacher_admin, :method => :delete %>
  </div>
  <div>
    <%= link_to "Aggiungi corso", edit_graduate_courses_teacher_path(teacher_admin)%>
  </div>
  <div>
    <%= link_to "Aggiungi privilegi", edit_capabilities_teacher_path(teacher_admin)%>
  </div>
</div>