<%= menu_admin() %>
<h3>Amministrazione docenti</h3>
<% unless @not_active_users.empty? %>
  <%= show_not_active_users(@not_active_users) %>
<% end %>
<% @graduate_courses.each do |g| %>
  <div class="first_div">
    <%= show_graduate_course_admin(g) %>
    <% g.users.each do |t| %>
      <%= show_teacher_admin(t.specified) %>
    <% end %>
  </div>
<% end %>