<%= menu_admin() %>
<h1>Amministrazione docenti</h1>
<%= show_not_active_users(@not_active_users) %>
<% @graduate_courses.each do |g| %>
  <div class="first_div">
    <%= show_graduate_course_admin(g) %>
  </div>
<% end %>