<h1>Docenti divisi per corso di laurea</h1>
<% @graduate_courses.each do |g| %>
  <%  if g.users.size != 0 %>
    <h4> <%= g.name %> </h4>
    <ul>
      <% (g.users).each do |u|%>
      <li>  <%= link_to u.specified.complete_name, teacher_path(u.specified) %> </li>
       <% end %>
     <% end %>
    </ul>
<% end %>