<div>
  Nome: <%= @teaching.name %> <br/>
  CFU: <%= @teaching.cfu %> <br/>
  ecc ecc ecc <br/>
  Curriculum: <br/>
  <% @teaching.curriculums.each do |c| %>
    c.name <br/>
  <% end %>
  <% show_teacher(@teaching.teacher) %>
</div>
