<h1> Amministrazione insegnamenti </h1>
<% @graduate_courses.each do |g| %>
  <p class="list_title"><%= show_graduate_course(g) %></p>
  <% teaching_number = g['teachings'].size %>
  <% if teaching_number > 0 %>
    <p>Insegnamenti:</p>
    <table class="list_table">
      <tr>
        <th>Nome</th>
        <th colspan="3">Opzioni</th>
        <th>Docente di riferimento</th>
      </tr>
      <% g['teachings'].each do |t|  %>
        <%= show_teaching_admin(t) %>
      <% end %>
    </table>
  <% end %>
<% end %>
<h3>Inserimento nuovo insegnamento </h3>
<%= menu_admin() %>