<%= menu_admin() %>
<h1> Amministrazione insegnamenti </h1>
<% @graduate_courses.each do |g| %>
  <div class ="first_div">
    <%= show_graduate_course(g) %>
    <% g['teachings'].each do |t|  %>
      <%= show_teaching_admin(t) %>
    <% end %>
  </div>
 <% end %>