<%= menu_admin() %>
<h3> Amministrazione insegnamenti </h3>
<% @graduate_courses.each do |g| %>
  <div class ="first_div">
    <p class="titoloLista"><%= show_graduate_course(g) %></p>
    <ul>
      <% g['teachings'].each do |t|  %>
        <li><%= show_teaching_admin(t) %></li>
      <% end %>
    </ul>
  </div>
 <% end %>