<h3>Lista degli insegnamenti:</h3>
--------------------------------------------------
<br><br>
<% @graduate_courses.each do |g| %> 
  <%= g.name %>: <br><br>
  <% g['teachings'].each do |t| %>
    <%= link_to t.name, teaching_path(t) %> <br>
  <% end %>
  <br><br>
  --------------------------------------------------
  <br><br>
<% end %>