<h1>Insegnamenti</h1>
<% @graduate_courses.each do |g| %> 
  <h3><%= g.name %></h3>
  <ul>
    <% g['teachings'].each do |t| %>
      <li><%= link_to t.name, teaching_path(t) %></li>
    <% end %>
  </ul>
<% end %>