<h1><%= show_teaching(@teaching) %></h1>
Docente da assegnare:
<% if @teachers.size != 0 %>
<% form_for @teaching, :url => assign_teacher_teaching_path(@teaching), :method => :put do %>
  <%= select_tag "teacher_id", options_from_collection_for_select(@teachers, "id", "complete_name")%>
  <%= submit_tag "Assegna" %>
  <% end %>
<%else%>
  Nessun docente a disposizione!
<%  end %>
<p><%= link_to "Indietro", :back %></p>