<p>
  <%= link_to image_tag("/images/laurea.gif"), new_graduate_course_path, :title => "Inserisci un nuovo corso di laurea" %>
  <%= link_to image_tag("/images/curriculum.gif"), new_curriculum_path, :title => "Inserisci un nuovo curriculum" %>
</p>