<h1>Amministrazione dei corsi di laurea e relativi curricula</h1>
<% @graduate_courses.each do |g| %>
  <%= show_graduate_course_admin(g) %>
  <% if g.curriculums.empty? %>
    <span>Nessun curriculum presente</span>
  <% else %>
    <p>Curricula:</p>
    <table class="list_table">
      <tr>
        <th>Nome</th>
        <th colspan="3">Opzioni</th>
      </tr>
      <% g.curriculums.each do |c| %>
        <%= show_curriculum_admin(c) %>
      <% end %>
    </table>
  <% end %>
  <% if (g != @graduate_courses[@graduate_courses.size-1]) %>
    <hr />
  <% end %>
<% end %>
<h3>Inserimento nuovo corso di laurea</h3>
<%= menu_admin() %>