<p>
  <b>Nome:</b>
  <%=h @graduate_course.name %>
</p>
<p>
  <b>Durata in anni:</b>
  <%=h @graduate_course.duration %>
</p>
<p>
  <b>Struttura del corso di laurea:</b>
  <%=h @academic_organization.name %>
</p>