<h1>Corso di laurea in <%=h @graduate_course.name %></h1>
<p>
  <strong>Durata in anni:</strong>
  <%=h @graduate_course.duration %>
</p>
<p>
  <strong>Struttura del corso di laurea:</strong>
  <%=h @academic_organization.name %>
</p>